name: Postman Test
on:
  push:
    branches:
      - master
  pull_request:
    branches: [ master ]
    
jobs:
  test-api:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Istall Node on the runner
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: "12.x"

      # Install the newman command line utility and also install the html extra reporter
      - name: Install newman
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      # Run the POSTMAN collection
      - uses: actions/checkout@v2
      - name: Run POSTMAN collection
        run: |
          mkdir -p testResults
          newman run collection.json -e environment.json -r htmlextra --reporter-htmlextra-export testResults/htmlreport.html --reporter-htmlextra-darkTheme > testResults/runreport1.html
        continue-on-error: true

      # Upload the contents of Test Results directory to workspace
      - name: Output the run Details
        uses: actions/upload-artifact@v3
        with:
          name: RunReports
          path: testResults
